#database
# デフォルトでfile:local.dbが適用されます。

# Better Auth
BETTER_AUTH_SECRET= # openssl rand -hex 32 で生成
# Production・Preview・ローカルですべて同じ値を設定
OAUTH_PROXY_SECRET= # openssl rand -hex 32 で生成
# production環境のurl
AUTH_PRODUCTION_URL=
# カンマ区切り。URLのスキームは含めない
AUTH_ALLOWED_HOSTS=

# Google OAuth
# Google Cloud Console → APIs & Services → Credentials から取得
# Authorized redirect URI: http://localhost:3000/api/auth/callback/google
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Google Maps
# Google Cloud Console → APIs & Services → Credentials から取得
NEXT_PUBLIC_GOOGLE_MAPS_API_KEY=
